@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --speed: 1000ms;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
}

.parent {
  display: block;
  background-color: hsla(200, 100%, 20%);
  width: 300px;
  height: 300px;
  margin: 20px;
  position: relative;
}

.child {
  background-color: red;
  width: 50%;
  height: 50%;
}

.stack-a, .stack-b, .stack-c, .stack-d {
  position: absolute;
}

.stack-a {
  z-index: 4;
}

.stack-b {
  z-index: 3;
  animation: shuffle-three var(--speed) ease-in-out forwards 2s, shuffle-three var(--speed) ease-in-out forwards reverse 5s;
}

.stack-c {
  z-index: 2;
  animation: shuffle-two var(--speed) ease-in-out forwards 1s, shuffle-two var(--speed) ease-in-out forwards reverse 4s;
}

.stack-d {
  animation: shuffle-one var(--speed) ease-in-out forwards, shuffle-one var(--speed) ease-in-out forwards reverse 3s;
}

.animate-u {
  animation: u-shape var(--speed) ease-in-out forwards infinite alternate;
}

.animate-m {
  animation: m-shape var(--speed) ease-in-out forwards infinite alternate;
}

.animate-z {
  animation: z-shape var(--speed) ease-in-out forwards infinite alternate;
}

.animate-e {
  animation: e-shape var(--speed) ease-in-out forwards infinite alternate;
}

.letter {
  position: absolute;
  display: block;
  color: white;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 300ms ease-in-out;
  background-color: rgb(0, 41, 61);
  font-size: 12vw;
  text-align: center;
}

.parent:hover .letter {
  height: 100%;
}

@keyframes u-shape {
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translateX(100%) translateY(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes m-shape {
  0% {
    transform: translateY(100%)
  }
  16% {
    transform: translateY(0%);
  }
  33% {
    transform: translateX(50%) translateY(0);
  }
  50% {
    transform: translateX(50%) translateY(50%);
  }
  66%{
    transform: translateX(50%) translateY(0);
  }
  85% {
    transform: translateX(100%) translateY(0%);
  }
  100% {
    transform: translateX(100%) translateY(100%);
  }
}

@keyframes z-shape {
  0%{
    transform: translateX(0) translateY(0);
  }
  33%{
    transform: translateX(100%) translateY(0);
  }
  66%{
    transform: translateX(0) translateY(100%);
  }
  100%{
    transform: translateX(100%) translateY(100%);
  }
}

@keyframes e-shape {
  0% {
    transform: translateX(100%) translateY(0);
  }
  16% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(0) translateY(50%);
  }
  50% {
    transform: translateX(50%) translateY(50%);
  }
  66% {
    transform: translateX(0) translateY(50%);
  }
  85% {
    transform: translateX(0) translateY(100%);
  }
  100% {
    transform: translateX(100%) translateY(100%);
  }
}

@keyframes shuffle-one {
  0% {
    transform: translateX(0);
    z-index: 1;
  }
  100% {
    z-index: 1;
    transform: translateX(25vw);
  }
}

@keyframes shuffle-two {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50vw);
  }
}

@keyframes shuffle-three {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(75vw);
  }
}